<nav class="navbar">
  <div class="navbar-brand">HRMS</div>
  <form class="form-inline ml-auto col-md-4 ">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark my-2 my-sm-0" type="submit">
      <i class='bx bx-search-alt-2'></i>
    </button>
  </form>
  <ul class="navbar-links">
    <li>
      
    </li>
    <li><a routerLink="/settings" routerLinkActive="active"><i class='bx bx-cog'></i></a></li>
    <li><a routerLink="/about" routerLinkActive="active"><i class='bx bx-plus-circle'></i></a></li>
    <li><a routerLink="/about" routerLinkActive="active"><i class='bx bx-bell'></i></a>
    <li><a routerLink="/contact" routerLinkActive="active"><i class='bx bx-user-circle'></i></a></li>
  </ul>

</nav>

<!-- <div class="navbar-mobile">
    <ul class="navbar-mobile-links">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div> -->