.background-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  /* Set the desired height of the background image */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Adjust the opacity of the overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.contain {
  position: relative;

}

.profile-icon {
  display: flex;
  width: 90px;
  height: 80px;
  border-radius: 100%;
  border: #fff;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  /* background-image: url("profilepic.jpg"); */

}

.headtext {
  color: #ffffff;
  align-items: center;
}

.designation{
  /* padding-left: 40px; */
  display: flex;
  justify-content: center;
}

.centered-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content{
  padding: 2rem 1rem;
  background-color: #f7fdff;
}

.card {
  border: 0;
  border-radius: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.label {
  opacity: 0.7;
}

.text {
  font-weight: 400;
  padding-left: 3rem;
  margin-left: auto;
}

.backgroundcolor {
  color: #e3ffff;
}


.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 12px;
  height: 24px;
  border-radius: 0 65px 65px 0;
  background-color: rgb(7, 147, 217);
  /* content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    background-color: #feba0f;
    width: 25px;
    height: 30px;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.card-title {
  padding-left: 5px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 25px;
}

