<body>
  <!-- <div class="head">
    <img src="backimage.svg" alt="">
  </div> -->
  <div class="contain">
    <div class="head" style="background-image: url(assets/images/space.jpg); height: 25vh;">
     
      <div class="centered-element d-flex flex-column align-items-center justify-content-center">
        <img class="profile-icon " src="assets/images/profile.webp" alt="">

        <div class="headtext">
          <div class="designation"><h4>Hello</h4> </div>
          <div >hello@gmail.com</div>
          
        </div>

      </div>


    </div>
  </div>
  <div class="backgroundcolor">
    <div class="container">
      <div class="row content justify-content-center">
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0 ">
            <div class="card-body">
              <p class="mb-4"><span class="card-title text-info font-italic me-1" style="font-size: 1.2rem;">Personal
                  Details</span>
              </p>
              <div class="row p-3">
                <span class="mb-1 label col-7  " style="font-size: 1rem;">Employee ID </span><span
                  class=" col-5 ">124</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-7  " style="font-size: 1rem;">First Name</span><span
                  class=" col-5 ">John</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-7  " style="font-size: 1rem;">First Name</span><span
                  class=" col-5 ">Doe</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-7  " style="font-size: 1rem;">Contact No. </span><span
                  class=" col-5 ">9324841294</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-7  " style="font-size: 1rem;">Email </span><span
                  class=" col-5 ">hello@gmail.com</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-7  " style="font-size: 1rem;">Date of Birth </span><span
                  class=" col-5 ">23/12/2001</span>
                <hr style="opacity: 0.1;">
                <span class="mb-1 label col-7  " style="font-size: 1rem;">Gender </span><span
                  class=" col-5 ">Male</span>
                <hr style="opacity: 0.1;">



              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="card mb-4 mb-md-0 ">
            <div class="card-body">
              <p class="mb-4">

                <span class="card-title text-info font-italic me-1" style="font-size: 1.2rem;">Work Details</span></p>

              <div class="row p-3">
                <span class="mb-1 label col-8  " style="font-size: 1rem;">Company </span><span
                  class=" col-4 ">Sparecode</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-8  " style="font-size: 1rem;">Department </span><span
                  class=" col-4 ">Engineering</span>
                <hr style="opacity: 0.1;">

                <span class="mb-1 label col-8  " style="font-size: 1rem;">Role </span><span class=" col-4 ">Full
                  Stack</span>
                <hr style="opacity: 0.1;">



                <!-- <p class="mt-2 mb-1" style="font-size: 1rem;">Gender: Male</p> -->



              </div>
            </div>
          </div>
         
        </div>
        <div class="butt d-flex justify-content-end ">
          <button  routerLink="edit" class="btn btn-danger col-2 ">Edit Profile</button>
          </div>
        
      </div>
      
    </div>
  </div>
</body>