<!-- <div class=" justify-content-center">
<div class="col-md-6">
    <div class="card mb-4 mb-md-0 ">
      <div class="card-body">
        <p class="mb-4"><span class="card-title text-info font-italic me-1" style="font-size: 1.2rem;">Edit Profile
            </span>
        </p>
        <div class="row p-3">
          <span class="mb-1 label col-7  " style="font-size: 1rem;">Employee ID </span><span
            class=" col-5 ">124</span>
          <hr style="opacity: 0.1;">

          <span class="mb-1 label col-7  " style="font-size: 1rem;">First Name</span><span
            class=" col-5 ">John</span>
          <hr style="opacity: 0.1;">

          <span class="mb-1 label col-7  " style="font-size: 1rem;">First Name</span><span
            class=" col-5 ">Doe</span>
          <hr style="opacity: 0.1;">

          <span class="mb-1 label col-7  " style="font-size: 1rem;">Contact No. </span><span
            class=" col-5 ">9324841294</span>
          <hr style="opacity: 0.1;">

          <span class="mb-1 label col-7  " style="font-size: 1rem;">Email </span><span
            class=" col-5 ">hello@gmail.com</span>
          <hr style="opacity: 0.1;">

          <span class="mb-1 label col-7  " style="font-size: 1rem;">Date of Birth </span><span
            class=" col-5 ">23/12/2001</span>
          <hr style="opacity: 0.1;">
          <span class="mb-1 label col-7  " style="font-size: 1rem;">Gender </span><span
            class=" col-5 ">Male</span>
          <hr style="opacity: 0.1;">



        </div>
      </div>
    </div>
  </div>
</div> -->

<body>

    <!-- <div class="head">
      <img src="backimage.svg" alt="">
    </div> -->
    <div class="contain">
        <div class="head" style="background-image: url(assets/images/space.jpg); height: 25vh;">

            <div class="centered-element d-flex flex-column align-items-center justify-content-center">
                <div class="profile-picture-container">
                    <div class="profile-icon " style="background-image: url(assets/images/profile.webp);" alt="">
                    
                        <div *ngIf="imageUrl">
                            <img [src]="imageUrl" alt="Uploaded Image" class="uploaded-image">
                        </div>
                        <div class="selected-image-overlay" *ngIf="imageUrl">
                            <img [src]="imageUrl" alt="Uploaded Image" class="selected-image">
                          </div>
                    </div> 

                    
                </div>
                <div class="headtext">
                    <div class="designation">
                        <h4>{{ displayText }}</h4>
                    </div>
                    <div>name@example.com</div>

                </div>

            </div>


        </div>
    </div>

    <div class="backgroundcolor">
        <div class="container">
            <div class="row content justify-content-center">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 ">
                        <div class="card-body">
                            <p class="mb-2"><span class="card-title text-info font-italic me-1"
                                    style="font-size: 1.2rem;">Personal
                                    Details</span>
                            </p>
                            <div class="row p-3">
                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Employee ID </span><span
                                    class=" col-5 mb-2"><input type="text" class="form-control"
                                        placeholder="142"></span>
                                <hr style="opacity: 0.1;">

                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Upload Profile Picture </span><span
                    class=" col-5 mb-2"><input type="file" class="form-control" id="imageInput" (change)="onImageSelected($event)"></span>
                    <hr style="opacity: 0.1;">
                    

                                <span class="mb-1 label col-7  " style="font-size: 1rem;">First Name</span><span
                                    class=" col-5 mb-2"><input type="text" class="form-control" placeholder="John Doe"
                                        [(ngModel)]="inputValue" (input)="onInputChange()"></span>
                                <hr style="opacity: 0.1;">

                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Contact No. </span><span
                                    class=" col-5 mb-2"><input type="text" class="form-control"
                                        placeholder="9123341002"></span>
                                <hr style="opacity: 0.1;">

                                <!-- <span class="mb-1  label col-7  " style="font-size: 1rem;" for="inputEmail1">Email </span><span
                    class=" col-5 mb-2 d-flex align-items-center "><input type="email" class="form-control" id="inputEmail1" placeholder="name@example.com" [(ngModel)]="email"></span>
                  <hr style="opacity: 0.1;"> -->

                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Date of Birth </span><span
                                    class=" col-5 mb-2"><input type="text" class="form-control"
                                        placeholder="23/1/2001"></span>
                                <hr style="opacity: 0.1;">
                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Gender </span><span
                                    class=" col-5 mb-2"><input type="text" class="form-control"
                                        placeholder="Male"></span>
                                <hr style="opacity: 0.1;">
                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Blood Group </span><span
                                    class=" col-5 mb-2"><input type="text" class="form-control" placeholder="A+"></span>
                                <hr style="opacity: 0.1;">
                                <span class="mb-1 label col-7  " style="font-size: 1rem;">Address </span><span
                                    class=" col-5 mb-2"><textarea type="text" class="form-control"
                                        placeholder="308 Negra Arroyo Lane"></textarea></span>
                                <hr style="opacity: 0.1;">



                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="card mb-4 mb-md-0 ">
                        <div class="card-body">
                            <p class="mb-4">

                                <span class="card-title text-info font-italic me-1" style="font-size: 1.2rem;">Work
                                    Details</span>
                            </p>

                            <div class="row p-3">
                                <span class="mb-1 label col-8  " style="font-size: 1rem;">Company </span><span
                                    class=" col-4 ">Sparecode</span>
                                <hr style="opacity: 0.1;">

                                <span class="mb-1 label col-8  " style="font-size: 1rem;">Department </span><span
                                    class=" col-4 ">Engineering</span>
                                <hr style="opacity: 0.1;">

                                <span class="mb-1 label col-8  " style="font-size: 1rem;">Role </span><span
                                    class=" col-4 ">Full
                                    Stack</span>
                                <hr style="opacity: 0.1;">



                                <!-- <p class="mt-2 mb-1" style="font-size: 1rem;">Gender: Male</p> -->



                            </div>
                        </div>
                    </div>

                </div>
                <div class="butt d-flex justify-content-end ">
                    <button class="btn btn-danger col-2 ">Save Changes</button>
                </div>


            </div>

        </div>
    </div>
</body>